@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay-Regular.woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay-Black.woff2'),
    url('../fonts/PlayfairDisplay-Black.woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay-Bold.woff2'),
    url('../fonts/PlayfairDisplay-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.woff2'),
    url('../fonts/Lato-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.woff2'),
  url('../fonts/Lato-Regular.woff');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.woff2'),
  url('../fonts/Lato-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Black.woff2'),
  url('../fonts/Lato-Black.woff');
  font-weight: 900;
  font-style: normal;
}